@function lerp($var-from-rem, $var-from, $var-to) {
  @return calc(var(#{$var-from-rem}) +
    (var(#{$var-to}) - var(#{$var-from})) *
    (100vw - #{$vp-from-rem}) /
    (#{$vp-to} - #{$vp-from}));
}

@mixin lerp($var, $from, $to) {

  // Sass vars
  $var-from: #{$var}-from;
  $var-to: #{$var}-to;

  $var-from-rem: #{$var-from}-rem;
  $var-to-rem: #{$var-to}-rem;

  // CSS vars
  #{$var-from}: $from;
  #{$var-to}: $to;

  #{$var-from-rem}: calc(1rem * var(#{$var-from}) / #{$fs-base});
  #{$var-to-rem}: calc(1rem * var(#{$var-to}) / #{$fs-base});

  #{$var}: lerp($var-from-rem, $var-from, $var-to);

  @media (max-width: $vp-from-px) {
    #{$var}: var($var-from-rem);
  }

  @media (min-width: $vp-to-px) {
    #{$var}: var($var-to-rem);
  }
}

// Vars

$fs-base: 16 !default;

// TODO?
// $space: (
//   name: 'space',
//   from: 16,
//   to: 24,
// )

$s-from: 16 !default;
$s-to: 24 !default;

$vp-from: 360 !default;
$vp-to: 1024 !default;

$fs-body-from: 16 !default;
$fs-body-to: 18 !default;

$fs-scaling: 1.25 !default;

$fs1-from: 16 !default;
$fs1-to: 18 !default;

$fs2-from: $fs1-from * $fs-scaling !default;
$fs2-to: $fs1-to * $fs-scaling !default;

$fs3-from: $fs2-from * $fs-scaling !default;
$fs3-to: $fs2-to * $fs-scaling !default;

$fs4-from: $fs3-from * $fs-scaling !default;
$fs4-to: $fs3-to * $fs-scaling !default;

$fs5-from: $fs4-from * $fs-scaling !default;
$fs5-to: $fs4-to * $fs-scaling !default;

$fs6-from: $fs5-from * $fs-scaling !default;
$fs6-to: $fs5-to * $fs-scaling !default;

$fs7-from: $fs6-from * $fs-scaling !default;
$fs7-to: $fs6-to * $fs-scaling !default;

// Read-only
$vp-from-rem: 1rem * $vp-from / $fs-base;
$vp-from-px: 1px * $vp-from;

$vp-to-rem: 1rem * $vp-to / $fs-base;
$vp-to-px: 1px * $vp-to;

:root {

  // Read-only
  @include lerp('--s', $s-from, $s-to);

  @include lerp('--fs-body', $fs-body-from, $fs-body-to);

  @include lerp('--fs1', $fs1-from, $fs1-to);
  @include lerp('--fs2', $fs2-from, $fs2-to);
  @include lerp('--fs3', $fs3-from, $fs3-to);
  @include lerp('--fs4', $fs4-from, $fs4-to);
  @include lerp('--fs5', $fs5-from, $fs5-to);
  @include lerp('--fs6', $fs6-from, $fs6-to);
  @include lerp('--fs7', $fs7-from, $fs7-to);

  --s-n: calc(-1 * var(--s));
  --s1: calc(0.25 * var(--s));
  --s2: calc(0.5 * var(--s));
  --s3: var(--s); // default
  --s4: calc(2 * var(--s));
  --s5: calc(4 * var(--s));
  --s6: calc(8 * var(--s));
  --s7: calc(16 * var(--s));

  --color-alpha-h: 195;
  --color-alpha-s: 50%;
  --color-alpha-l: 80%;

  --color-alpha:        hsla(var(--color-alpha-h), var(--color-alpha-s), var(--color-alpha-l), 1);
  --color-alpha-light:  hsla(var(--color-alpha-h), var(--color-alpha-s), calc(var(--color-alpha-l) + 10%), 1);
  --color-alpha-dark:   hsla(var(--color-alpha-h), var(--color-alpha-s), calc(var(--color-alpha-l) - 10%), 1);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fs1, h6 { font-size: var(--fs1); }
.fs2, h5 { font-size: var(--fs2); }
.fs3, h4 { font-size: var(--fs3); }
.fs4, h3 { font-size: var(--fs4); }
.fs5, h2 { font-size: var(--fs5); }
.fs6, h1 { font-size: var(--fs6); }
.fs7 { font-size: var(--fs7); }

h6, h5, h4, h3, h2, h1 { margin-bottom: 1em; }

.m { margin: var(--s); }
.m1 { margin: var(--s1); }
.m2 { margin: var(--s2); }
.m3 { margin: var(--s3); }
.m4 { margin: var(--s4); }
.m5 { margin: var(--s5) }
.m6 { margin: var(--s6) }
.m7 { margin: var(--s7) }

.p { padding: var(--s); }
.p1 { padding: var(--s1); }
.p2 { padding: var(--s2); }
.p3 { padding: var(--s3); }
.p4 { padding: var(--s4); }
.p5 { padding: var(--s5) }
.p6 { padding: var(--s6) }
.p7 { padding: var(--s7) }

.mb { margin-bottom: var(--s); }
.mb1 { margin-bottom: var(--s1); }
.mb2 { margin-bottom: var(--s2); }
.mb3 { margin-bottom: var(--s3); }
.mb4 { margin-bottom: var(--s4); }
.mb5 { margin-bottom: var(--s5) }
.mb6 { margin-bottom: var(--s6) }
.mb7 { margin-bottom: var(--s7) }

.mt { margin-top: var(--s); }
.mt1 { margin-top: var(--s1); }
.mt2 { margin-top: var(--s2); }
.mt3 { margin-top: var(--s3); }
.mt4 { margin-top: var(--s4); }
.mt5 { margin-top: var(--s5) }
.mt6 { margin-top: var(--s6) }
.mt7 { margin-top: var(--s7) }

.pb { padding-bottom: var(--s); }
.pb1 { padding-bottom: var(--s1); }
.pb2 { padding-bottom: var(--s2); }
.pb3 { padding-bottom: var(--s3); }
.pb4 { padding-bottom: var(--s4); }
.pb5 { padding-bottom: var(--s5) }
.pb6 { padding-bottom: var(--s6) }
.pb7 { padding-bottom: var(--s7) }

.grid {
  margin-left: var(--s-n);
}

.cell {
  display: inline-block;
  width: 100%;
  padding-left: var(--s);
}

.grid > .cell {
  margin-bottom: var(--s);
}

.w1\/2 { width: 50%; }
.w1\/3 { width: 33.333333%; }
.w1\/4 { width: 25%; }

.content {
  background-color: var(--color-alpha);
  padding: var(--s);
}

.container {
  padding-left: var(--s);
  padding-right: var(--s);
}

.d {
  background-color: var(--color-alpha);
  padding: var(--s2);
  border-top: var(--s2) solid var(--color-alpha-light);
  border-bottom: var(--s2) solid var(--color-alpha-dark);
}

body {
  font-size: var(--fs-body);
}